.add-course-page {
    width: 100%;
    height: calc(100vh - 4rem);
    margin: 4rem auto 0;
    padding-top: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    form {
        background: $myGray;
        margin: 0.2rem;
        width: 60%;
        min-height: 40vh;
        min-width: 470px;
        max-width: 650px;
        padding: 1.5rem 3rem;
        display: grid;
        border: 2px solid $myBlue;
        border-radius: 0.5rem;

        h1 {
            font-size: larger;
            margin-bottom: 3rem;
        };

        span {
            min-height: 3rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            span {
                color: $myRed;
                font-size: smaller;
            };
        };
        
        input {
            float: right;
            border-radius: 0.25rem;
        };
    };

    h2 {
        margin: 1rem;
    };
};